*
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

body
{
    width: 100%;
    height: 100%;
    margin: auto;
}
header
{
    height: 250px;
    width: 100%;
    display: flex;
   
}
header aside
{
    flex-basis: 25%;
    height: 100%;
    background-color:rgb(255, 204, 0) ;
}
header aside img
{
    border-radius: 50% ;
   height: 150px;
   width: 150px;  
}
 a
{
    text-decoration: none;
    color: black;
}
.thumbnail {
    padding: 0.25rem;
    background-color: white;
    border: 0.25em solid rgba(172,177,181, 0.25);
    border-radius: 5rem;
    max-width: 90%;
    height: auto;
    margin-bottom: 70px;
   margin:2.3em;
   display: block;
   margin-right: auto;
   margin-left: auto;
  
}
.ten
{
    flex-basis: 5%;
    height: 100%;
}
header article
{
    flex-basis: 70%;
    height: 100%;
}
header h1
{
    font-size: 4em;
    padding-top: 1.7em;
}
header h1 span
{
    color:rgb(255, 204, 0);
}
header h3{
padding-top: 0.3em;
}
header h3 span
{
    border-bottom: 3px solid rgb(255, 204, 0);;
}
#body
{
    height: 1100px;
    width: 100%;
    display: flex;
}
#body aside
{
    flex-basis: 25%;
    height: 100%;
    background-color:rgb(255, 204, 0) ;
     }
#body aside h2
{
    color:rgb(255, 204, 0);
    text-align: center;
    padding: 0.5em;
}
#body aside img
{
    color: black;
    padding: 1.4em;
}

#title
{
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: rgb(28, 27, 27);
}
aside ol
{
    padding-left: 1em;
    list-style-type: none;
}
aside ol li
{
    margin-bottom: 0.7em;
}
#title-2
{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(41, 40, 40);
}
#low
{
    padding: 1em;
    margin-bottom: 90%;
}
#title-3
{
    margin-bottom: 1em;
    background-color: rgb(61, 59, 59);
}
#title-3 i
{
padding-left: 1em;
}
#body section
{
    flex-basis: 70%;
    height: 100%;
}
#title-4
{
    margin-top: 1em;
    margin-bottom: 1.5em;
    border-bottom: 3px solid rgb(255, 204, 0);
    margin-right: 4em;
    font-size: 1.5em;
}
div
{
    display: inline-block;
}
.ul-1
{
    margin: 0 17em 7em 0;
}
.ul-2
{
    margin-bottom: 4.5em;
}
.ul-3
{
    margin: 0 17em 3em 0;
}
.art
{
margin: 0 0 4em;
}
.logo
{
    color:rgb(255, 204, 0);
    margin-right: 1em;
    font-size: 1.5em;
}
.date i
{
    color:rgb(255, 204, 0);
    margin-right: 1em;
}
.list ul
{
 margin-right: 8em;
}
#icons
{
    display: flex;
    justify-content: space-between;
}
.title-exp
{
    margin-bottom: 1.5em;
    border-bottom: 3px solid rgb(255, 204, 0);
    margin-right: 4em;
    font-size: 1.5em;
}
.infos {
    display: flex;
    flex-direction: column;
    width: 65%;
     }
     .infos p
     {
         margin-right: 1em;
     }
     .date {
        display: flex;
        flex-direction: row;
        width: 35%;
        padding-right: 20px;
    }
    .article {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-bottom: 5em;
    }
@media screen and (max-width:1023px)
{
    body 
    {
        display: flex;
        flex-direction: column;
    }
    header
    {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    header aside
    {
        order: 1;
        flex-basis: 100%;
       
    }
    header article
    {
        order: 2;
        
    }
    header article h1
    {
        margin-top: 0;
        padding-top: 0px;
        font-size: 3em;
        text-align: center;
    }
    header article h3
    {
        text-align: center;
    }
    header aside img 
    {
        height: 100px;
        width: 100px;
    }
    .thumbnail
    {
        display: block;
        margin: auto;  
    }
    #body
    {
        display: flex;
        flex-direction: column; 
        width: 100%;
    }
    #body aside
    {
        order: 3;
    }
    #body section 
    {
        order: 4;
        display: block;
    }
    #low
    {
        margin-bottom: 1em;
    }
    
     .title-exp
    {
        margin-right: 1em;
        font-size: 1.3em;
    }
    #title-4
    {
        margin-right: 1em;
    }
    ul 
    {
        display: block;
        margin:auto
    }
    .list ul 
    {
        margin-left: 2em;
    }
     }
     @media screen and (max-width:599px)
     {
       
            .list ul 
    {
        margin-bottom: 1em;
    }
    @media screen and (max-width:360px)
    {
div
{
    display: block;
}
    }
        }